@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap'); /*font-family: 'Russo One', sans-serif;*/

:root{
    --fonte-padrao: 'Russo One', sans-serif;

    --cor1: #400822;
    --cor2: #8c184e;
    --cor3: #731440;
    --cor4: #260216;
    --cor5: #f2f2f2;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
}

body{
    background-image: linear-gradient(var(--cor5), var(--cor3));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    width: 80vw;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

main > img {
    /* opacity: 0.25; */
}

main > div#barra{
    height: 30px;
    width: 350px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--cor5);
}

main > div#barra > div {
    height: 100%;
    /* width: 25%; */
    border-radius: 10px;
    background-color: var(--cor1);
}

footer{
    /* margin: auto; */
    position: absolute;
    bottom: 0;
    font-size: 0.8em;
    text-align: center;
}